<ul class="social-list">
    <li>
        <a href="https://facebook.com/tkwitkowski" target="_blank" class="social-facebook" data-toggle="tooltip" title="Facebook">
            <i class="fa-facebook"></i>
        </a>
    </li>
    <li>
        <a href="https://instagram.com/dev.gummibeer" target="_blank" class="social-instagram" data-toggle="tooltip" title="Instagram">
            <i class="fa-instagram"></i>
        </a>
    </li>
    <li>
        <a href="https://github.com/Gummibeer" target="_blank" class="social-github" data-toggle="tooltip" title="Github">
            <i class="fa-github"></i>
        </a>
    </li>
    <li>
        <a href="http://stackexchange.com/users/6318457/gummibeer" target="_blank" class="social-stackexchange" data-toggle="tooltip" title="StackExchange">
            <i class="fa-stack-exchange"></i>
        </a>
    </li>
    <li>
        <a href="https://play.google.com/store/apps/developer?id=Gummibeer" target="_blank" class="social-android" data-toggle="tooltip" title="Google Play">
            <i class="fa-android"></i>
        </a>
    </li>
    <li>
        <a href="https://youtube.com/channel/UCFri4xYgwSgvx_fq8J56hOQ" target="_blank" class="social-youtube" data-toggle="tooltip" title="YouTube">
            <i class="fa-youtube-play"></i>
        </a>
    </li>
    <li>
        <a href="https://www.twitch.tv/gummibeer93" target="_blank" class="social-twitch" data-toggle="tooltip" title="Twitch">
            <i class="fa-twitch"></i>
        </a>
    </li>
    <li>
        <a href="https://steamcommunity.com/id/gummibeer" target="_blank" class="social-steam" data-toggle="tooltip" title="Steam">
            <i class="fa-steam"></i>
        </a>
    </li>
    <li>
        <a href="https://kickstarter.com/profile/gummibeer" target="_blank" class="social-kickstarter" data-toggle="tooltip" title="Kickstarter">
            <i class="fa-heart"></i>
        </a>
    </li>
    <li>
        <a href="https://xing.com/profile/Tom_Witkowski" target="_blank" class="social-xing" data-toggle="tooltip" title="Xing">
            <i class="fa-xing"></i>
        </a>
    </li>
    <li>
        <a href="https://linkedin.com/in/dev-gummibeer" target="_blank" class="social-linkedin" data-toggle="tooltip" title="LinkedIn">
            <i class="fa-linkedin"></i>
        </a>
    </li>
</ul>