html,
body {
  padding: 0;
}

body {
  padding-top: 64px;
}

.icon {
  display: inline-block;
  width: 1em;
  text-align: center;
}

.well {
  box-shadow: none;
  background: @color-grey-200;
  border: 1px solid @color-grey-300;
}