// https://github.com/filamentgroup/glyphhanger

//@import "~typeface-inter";
// glyphy --LATIN --subset=resources/fonts/inter/inter-*.woff --formats=woff
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  unicode-range: U+0-FF, U+131, U+152, U+153, U+2BB, U+2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src: local('Inter'),
  url("../fonts/inter/inter-400-subset.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  unicode-range: U+0-FF, U+131, U+152, U+153, U+2BB, U+2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src: local('Inter'),
  url("../fonts/inter/inter-700-subset.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  unicode-range: U+0-FF, U+131, U+152, U+153, U+2BB, U+2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  src: local('Inter'),
  url("../fonts/inter/inter-800-subset.woff") format("woff");
}

@import "~typeface-fira-code";
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Fira Code Regular'),
  local('Fira Code-Regular'),
  url('../fonts/fira-code/fira-code-400.woff') format('woff');
}

//@import "~typeface-permanent-marker";
// glyphy --whitelist=TomWitkowski --subset=resources/fonts/permanent-marker/permanent-marker-latin-400.woff --formats=woff
@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  unicode-range: U+54, U+57, U+69, U+6B, U+6D, U+6F, U+73, U+74, U+77;
  src: local('Permanent Marker Regular'),
  local('Permanent Marker-Regular'),
  url('../fonts/permanent-marker/permanent-marker-400-subset.woff') format('woff');
}

@layer utilities {
  @import "~@fortawesome/fontawesome-pro/scss/brands";
  //@import "~@fortawesome/fontawesome-pro/scss/duotone";
  @import "~@fortawesome/fontawesome-pro/scss/light";
  //@import "~@fortawesome/fontawesome-pro/scss/regular";
  //@import "~@fortawesome/fontawesome-pro/scss/solid";
  @import "~@fortawesome/fontawesome-pro/scss/fontawesome";
}
