a[href]:not([class]) {
  @apply border-b-2 border-brand border-dashed;

  &:hover {
    @apply border-solid;
  }
}

h1:not([class]) {
  @apply text-6xl font-black text-night-0 leading-none mb-8;

  @screen dark {
    @apply text-white;
  }
}

h2:not([class]) {
  @apply text-4xl font-bold text-night-0 leading-none mt-8 mb-4;

  @screen dark {
    @apply text-white;
  }
}

p:not([class]),
blockquote:not([class]) {
  @apply mb-2;
}

pre:not([class]),
pre[class*="language-"] {
  @apply m-0;
}

ul:not([class]) {
  @apply list-square list-inside mb-4;

  li:not([class]) {
    @apply mb-2;
  }
}
