@import "~prism-themes/themes/prism-material-light";
@screen dark {
  @import "~prism-themes/themes/prism-material-dark";
}

code[class*="language-"],
pre[class*="language-"] {
  background: transparent;
  tab-size: 4;
  hyphens: none;
  @apply font-mono text-base leading-loose;
}

@import "prismjs/line-numbers";
