@import "fonts";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "twemoji";
@import "prismjs";
@import "mburger";
.markdown {
  @import "markdown";
}

.flex-basis-full {
  flex-basis: 100%;
}

.shadow {
  @apply shadow-light;
  @screen dark {
    @apply shadow-dark;
  }
}

.hover\:underlined {
  background-image: linear-gradient(
    90deg,
    rgba(#ffb300, 0.75),
    rgba(#ffb300, 0.75)
  );
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;
  background-size: 100% 10%;
  transition-property: background-size, background-image;
  transition-duration: 250ms;
  transition-timing-function: ease-out;

  @media (prefers-reduced-motion) {
    transition-duration: 750ms;
    transition-timing-function: linear;
  }

  &:hover {
    background-image: linear-gradient(90deg, #ffb300, #ffb300);
    background-size: 100% 30%;
  }
}

.bg-dotted {
  background-position: 0;
  background-size: 10px 10px;
  background-repeat: repeat;
  background-image: radial-gradient(rgba(#000, 0.25) 0.5px, transparent 0.5px);

  @screen dark {
    background-image: radial-gradient(
      rgba(#fff, 0.25) 0.5px,
      transparent 0.5px
    );
  }
}

.bg-dotted-lg {
  background-position: 0;
  background-size: 10px 10px;
  background-repeat: repeat;
  background-image: radial-gradient(rgba(#000, 0.25) 1px, transparent 1px);

  @screen dark {
    background-image: radial-gradient(rgba(#fff, 0.25) 1px, transparent 1px);
  }
}

a[href] {
  cursor: pointer;

  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: ease-out;

  @media (prefers-reduced-motion) {
    transition-duration: 500ms;
    transition-timing-function: linear;
  }
}

[x-cloak] {
  &:not([class*="x-cloak"]) {
    display: none;
  }

  @media (max-width: 639px) {
    &.x-cloak {
      display: none;
    }
  }

  @media (min-width: 640px) and (max-width: 767px) {
    &.x-cloak:not(.sm\:-x-cloak),
    &.sm\:x-cloak {
      display: none;
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    &.x-cloak:not(.md\:-x-cloak),
    &.sm\:x-cloak:not(.md\:-x-cloak),
    &.md\:x-cloak {
      display: none;
    }
  }

  @media (min-width: 1024px) and (max-width: 1279px) {
    &.x-cloak:not(.lg\:-x-cloak),
    &.sm\:x-cloak:not(.lg\:-x-cloak),
    &.md\:x-cloak:not(.lg\:-x-cloak),
    &.lg\:x-cloak {
      display: none;
    }
  }

  @media (min-width: 1280px) {
    &.x-cloak:not(.xl\:-x-cloak),
    &.sm\:x-cloak:not(.xl\:-x-cloak),
    &.md\:x-cloak:not(.xl\:-x-cloak),
    &.lg\:x-cloak:not(.xl\:-x-cloak),
    &.xl\:x-cloak {
      display: none;
    }
  }
}
