#header {
  background: @color-grey-1000;
  padding: 10px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: @zindex-navbar-fixed;

  .navbar.navbar-dark {
    position: relative;
    min-height: 0;
    margin-bottom: 0;
    border: none;

    .navbar-header {
      .navbar-toggle {
        border-color: @color-white;
        background-color: transparent;
        margin-top: 5px;
        margin-bottom: 5px;

        .icon-bar {
          background-color: @color-white;
        }

        &:hover,
        &:focus {
          border-color: @brand-primary;

          .icon-bar {
            background-color: @brand-primary;
          }
        }
      }
    }

    .navbar-nav {
      > li {
        > a {
          padding: 15px 25px;
          background: @color-grey-800;
          color: @color-white;
          font-size: 14px;
          line-height: 1em;
          text-transform: uppercase;
          transition: background 250ms ease-in-out;

          &:hover {
            background: @color-grey-800;
            color: @brand-primary;
          }

          &:active,
          &:focus {
            background: @color-grey-800;
            color: @color-white;
          }
        }

        &.active {
          > a {
            background: @brand-primary;
            color: @color-black;

            &:hover,
            &:active,
            &:focus {
              color: @color-white;
            }
          }
        }
      }
    }
  }
}