{% extends "master.twig" %}

{% block menu %}
    <ul class="nav navbar-nav">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/imprint">Imprint</a>
        </li>
        <li class="active">
            <a href="/privacy">Privacy</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <section class="section">
        <div class="hgroup">
            <h3>Privacy Statement</h3>
            <h2 title="Privacy">Privacy</h2>
        </div>
        <p>Nothing. Really, for this website I collect <strong>nothing</strong> about you.</p>
    </section>
{% endblock %}