<section id="about" class="section">
    <div class="hgroup">
        <h3>Who I am</h3>
        <h2 title="About">About</h2>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
            <strong class="text-muted">Tom Witkowski</strong>
            <h4>
                Web <span class="text-primary">Developer</span> and <span class="text-primary">Gamer</span> from Hamburg
            </h4>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>

            <div class="row">
                <div class="col-md-4 font-montserrat">
                    <i class="icon fa-github fa-4x pull-left margin-right-15"></i>
                    <strong class="text-uppercase">Commits</strong>
                    <br/>
                    <span class="count-to font-size-2em text-primary" data-from="0" data-to="1440" data-speed="2000">1440</span>
                </div>
                <div class="col-md-4 font-montserrat">
                    <i class="icon fa-steam fa-4x pull-left margin-right-15"></i>
                    <strong class="text-uppercase">Playtime</strong>
                    <br/>
                    <span class="count-to font-size-2em text-primary" data-from="0" data-to="3592" data-speed="2000">3592</span>
                </div>
                <div class="col-md-4 font-montserrat">
                    <i class="icon fa-gamepad fa-4x pull-left margin-right-15"></i>
                    <strong class="text-uppercase">GameJams</strong>
                    <br/>
                    <span class="count-to font-size-2em text-primary" data-from="0" data-to="7" data-speed="2000">7</span>
                </div>
            </div>
        </div>
    </div>
</section>