<section id="games" class="section">
    <div class="hgroup">
        <h3>What I create</h3>
        <h2 title="Games">Games</h2>
    </div>
    <div class="row masonry-container">
        <div class="col-md-4 masonry-item">
            <div class="panel panel-primary">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://youtube.com/embed/LejwAsZu7_A" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title clearfix">
                        Tap Pong
                        <i class="icon fa-android pull-right"></i>
                    </h3>
                </div>
                <div class="panel-body">
                    This new version of "Pong" is simple but hard to master. You have two paddles on each side in different colors and the ball in the middle changes his color sometimes. Be careful, just the paddle with the right color can hit the ball.
                    How long can you keep concentrated?
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-6 text-center">
                            <a href="https://play.google.com/store/apps/details?id=com.kibasegames.tap_pong" target="_blank">
                                <i class="icon fa-gamepad fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-xs-6 text-center">
                            <a href="https://facebook.com/kibase.games" target="_blank">
                                <i class="icon fa-facebook fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 masonry-item">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title clearfix">
                        Bubble Picker
                        <i class="icon fa-android pull-right"></i>
                    </h3>
                </div>
                <div class="panel-body">
                    A simple but not so easy game. You have to collect the bubbles in the right order.
                    How fast can you collect the bubbles?
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-6 text-center">
                            <a href="https://play.google.com/store/apps/details?id=com.kibasegames.bubble_picker" target="_blank">
                                <i class="icon fa-gamepad fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-xs-6 text-center">
                            <a href="https://facebook.com/kibase.games" target="_blank">
                                <i class="icon fa-facebook fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 masonry-item">
            <div class="panel panel-primary">
                <img class="img-responsive" src="{{ asset('ant_general_banner.jpg', 'img') }}" />
                <div class="panel-heading">
                    <h3 class="panel-title clearfix">
                        Ant General
                        <i class="icon fa-desktop pull-right"></i>
                    </h3>
                </div>
                <div class="panel-body">
                    As a crazy Ant General you love to make insane experiments. Your newest experiment: enslave Centipedes.
                    With thousands of roller blades on their foot, you send them on the rail. The goal: replace the slow ant streets. Use time anomalies, so every centipede train reaches his train station. Dont let the trains crash.
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-4 text-center">
                            <a href="https://github.com/Gummibeer/igjam10" target="_blank">
                                <i class="icon fa-github fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="http://ct.gummibeer.de" target="_blank">
                                <i class="icon fa-gamepad fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="https://facebook.com/ameisengeneral" target="_blank">
                                <i class="icon fa-facebook fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 masonry-item">
            <div class="panel panel-primary">
                <img class="img-responsive" src="{{ asset('mean_bean_machine_banner.jpg', 'img') }}" />
                <div class="panel-heading">
                    <h3 class="panel-title clearfix">
                        Mean Bean Machine
                        <i class="icon fa-desktop pull-right"></i>
                    </h3>
                </div>
                <div class="panel-body">
                    <p>This is the story of our brave coffee bean who tries to take down the MEAN BEAN MACHINE. The machine is terrorizing the bean family to produce coffee for the evil giants.</p>
                    <p>Some one doesn't like the giants early morning ritual of drinking coffee: all his brothers and sisters are getting killed with each cup. He decides to sabotage parts of the coffee machine and liberate his friends and family.</p>
                    <p>DON'T GET THEM GRINDED!</p>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-4 text-center">
                            <a href="https://github.com/Gummibeer/ggj2016" target="_blank">
                                <i class="icon fa-github fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="http://mbm.gummibeer.de" target="_blank">
                                <i class="icon fa-gamepad fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="https://facebook.com/MeanBeanMachineGame" target="_blank">
                                <i class="icon fa-facebook fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 masonry-item">
            <div class="panel panel-primary">
                <img class="img-responsive" src="{{ asset('go_golem_go_banner.jpg', 'img') }}" />
                <div class="panel-heading">
                    <h3 class="panel-title clearfix">
                        Go Golem Go
                        <i class="icon fa-desktop pull-right"></i>
                    </h3>
                </div>
                <div class="panel-body">
                    In a strange ritual you have to summon a golem. To combine the needed credentials you have to solve puzzles and play in a team cause you don't have all needed ingredients but possibly your mate.
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-6 text-center">
                            <a href="https://github.com/Gummibeer/igjam9" target="_blank">
                                <i class="icon fa-github fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-xs-6 text-center">
                            <a href="https://facebook.com/gogolemgo" target="_blank">
                                <i class="icon fa-facebook fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 masonry-item">
            <div class="panel panel-primary">
                <img class="img-responsive" src="{{ asset('the_impossible_timefall_banner.jpg', 'img') }}" />
                <div class="panel-heading">
                    <h3 class="panel-title clearfix">
                        The impossible Timefall
                        <i class="icon fa-desktop pull-right"></i>
                    </h3>
                </div>
                <div class="panel-body">
                    You are falling through time and space and have to defeat/avoid a lot of enemies.
                </div>
                <div class="panel-footer text-center">
                    <a href="https://github.com/Gummibeer/igjam7" target="_blank">
                        <i class="icon fa-github fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>