<section id="pages" class="section">
    <div class="hgroup">
        <h3>What I host</h3>
        <h2 title="Pages">Pages</h2>
    </div>
    <div class="row masonry-container">
        <div class="col-md-4 masonry-item">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title clearfix">
                        Rödelinos Bengalen
                        <i class="icon fa-paw pull-right"></i>
                    </h3>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-6 text-center">
                            <a href="https://facebook.com/RoedelinosBengalen/" target="_blank">
                                <i class="icon fa-facebook fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-xs-6 text-center">
                            <a href="https://instagram.com/roedelinos_bengalen/" target="_blank">
                                <i class="icon fa-instagram fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 masonry-item">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title clearfix">
                        Tentangli
                        <i class="icon fa-pencil pull-right"></i>
                    </h3>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-4 text-center">
                            <a href="http://tentangli.de" target="_blank">
                                <i class="icon fa-globe fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="https://facebook.com/tentangli" target="_blank">
                                <i class="icon fa-facebook fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="https://instagram.com/tentangli/" target="_blank">
                                <i class="icon fa-instagram fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 masonry-item">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title clearfix">
                        Pandorya Photography
                        <i class="icon fa-camera-retro pull-right"></i>
                    </h3>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-6 text-center">
                            <a href="https://facebook.com/pandorya.photo/" target="_blank">
                                <i class="icon fa-facebook fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-xs-6 text-center">
                            <a href="https://instagram.com/pandorya.photo/" target="_blank">
                                <i class="icon fa-instagram fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 masonry-item">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title clearfix">
                        Maximko
                        <i class="icon fa-paint-brush pull-right"></i>
                    </h3>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-4 text-center">
                            <a href="http://maximko.de" target="_blank">
                                <i class="icon fa-globe fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="https://facebook.com/maximkoart/" target="_blank">
                                <i class="icon fa-facebook fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-xs-4 text-center">
                            <a href="https://instagram.com/maximkoart/" target="_blank">
                                <i class="icon fa-instagram fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 masonry-item">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title clearfix">
                        Finanzdiskurs
                        <i class="icon fa-money pull-right"></i>
                    </h3>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-6 text-center">
                            <a href="http://finanzdiskurs.de/" target="_blank">
                                <i class="icon fa-globe fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-xs-6 text-center">
                            <a href="https://facebook.com/Finanzdiskurs/" target="_blank">
                                <i class="icon fa-facebook fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>