<section id="tributes" class="section">
    <div class="hgroup">
        <h3>What others say</h3>
        <h2 title="Tributes">Tributes</h2>
    </div>
    <div class="owl-carousel owl-theme">
        <article class="item">
            <div class="clearfix">
                <h4>Sofia Jacobs</h4>
                <span class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </span>
            </div>
            Chasy bee do bee do bee do pepete baboiii jiji butt. Jiji po kass bappleees chasy aaaaaah bananaaaa underweaaar tank yuuu! Tank yuuu! Para tú butt. Hana dul sae poulet tikka masala baboiii tatata bala tu hana dul sae jiji tatata bala tu. Aaaaaah ti aamoo!
    </article>
</section>