name: composer normalize

on:
  push:
    paths:
      - 'composer.json'

jobs:
  normalize:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v5

      - name: normalize composer.json
        run: |
          composer global require ergebnis/composer-normalize
          composer normalize

      - name: update git
        run: |
          git fetch
          git pull

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: normalize composer.json
