name: prettier

on:
  push:
    paths:
      - '**.md'
      - '**.js'
      - '**.scss'

jobs:
  pretify:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v6

      - name: Prettify markdown
        uses: creyD/prettier_action@v4.6
        with:
          prettier_options: --write *.md resources/content/**/*.md resources/js/*.js resources/scss/*.scss resources/scss/**/*.scss