on:
  schedule:
    - cron: "0 12 * * *"

jobs:
  promote:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.0
          extensions: dom, curl, libxml, mbstring, zip, imagick
          tools: composer:v2

      - name: Get composer cache directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-dir)"
      - uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: composer-${{ hashFiles('composer.json') }}
          restore-keys: composer-

      - run: composer install --no-progress --no-suggest --prefer-dist --optimize-autoloader --no-interaction

      - run: php artisan post:promote --env=prod
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}

      - uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: promoted post
          file_pattern: resources/content/posts/*.*.md
